auctionsniper.core/.classpath
auctionsniper.core/.project
auctionsniper.core/.settings
auctionsniper.core/target
auctionsniper.systest/.classpath
auctionsniper.systest/target
auctionsniper.systest/.project
auctionsniper.systest/.settings
